hr{
  border-color: #214c2d;
}
*{
  text-decoration: none;
}
a{
  color:red;
}
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header{
  position: fixed;
  width: 90%;
  height: 25px;
  background-color: #214c2d;
  display: flex;
  padding-left:5%;
  padding-right: 5%;
  align-items:center ;
  color: white;
}
#header-left{
  margin-left:auto;
  
}
#container{
  margin-left: auto;
  margin-left: auto;
  width: 95%;
  height: auto;
  display: flex;
}
#nav{
  padding-top:50px;
  width: 30%;
}
#main{
  width: 60%;
  padding-top:50px;
  padding-left:5% ;
  
}
footer{
  background-color: #214c2d;
  color:white;
  height: 200px;
}
footer a{
  
  color:white;
}